<!doctype html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/myads.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/css/easyzoom.css" />
    <script src="https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/src/easyzoom.js"></script>
</head>
<body>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-12">
            <h2 class="d-flex justify-content-center">İlanlarım</h2>
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i0.shbdn.com/photos/00/92/54/x5_886009254ude.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Volkswagen / Polo / Hasar</h5>
                    <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Sağ Arka Tampon</span><span class="dot"></span><span>Sağ Arka Çamurluk</span><span class="dot"></span><span>Bagaj<br></span></div>

                    <p class="text-justify text-truncate para mb-0">Acil Tamir Edilmesi Gerekmektedir.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">

                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Teklifleri Gör</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://osucp.azureedge.net/media/WDD1760121J202672/s/197436_405fcb11-f46f-4741-b7b3-09465a4351f9.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Mercedes/ Benz / Modifiye</h5>
                    <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Kaplama</span><span class="dot"></span><span>Yeni Led</span><span class="dot"></span><span>Basık Araç<br></span></div>

                    <p class="text-justify text-truncate para mb-0">Kaliteli Modifiye Gerekmektedir.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">

                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Teklifleri Gör</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://osucp.azureedge.net/media/WDD1760121J202672/s/197436_405fcb11-f46f-4741-b7b3-09465a4351f9.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Mercedes/ Benz / Hasar</h5>
                    <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Sağ ön kapı</span><span class="dot"></span><span>Sağ arka kapı</span><span class="dot"></span><span>sağ ön çamurluk<br></span></div>

                    <p class="text-justify text-truncate para mb-0">Kaliteli Tamir Gerekmektedir.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">

                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Teklifleri Gör</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i0.shbdn.com/photos/00/92/54/x5_886009254ude.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Volkswagen / Polo / Modifiye</h5>
                    <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Bas</span><span class="dot"></span><span>Boya</span><span class="dot"></span><span>Araç içi ışıklandırma<br></span></div>

                    <p class="text-justify text-truncate para mb-0">Hızlı Modifiye Edilmesi Gerekmektedir.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">

                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Teklifleri Gör</button></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<%- include ('../partails/footer') -%>